
td.details-control {
    background: url('internalPlaces/dds-rg-worker$1.0.0/public/assets/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('internalPlaces/dds-rg-worker$1.0.0/public/assets/details_close.png') no-repeat center center;
}
